.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;

    .image {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
        transition: all 0.7s ease;
        border-radius: 10px;

        .hoverImg {
            display: none;
        }

        &:hover {
            .hoverImg {
                display: block;
                z-index: 3;
            }

            .mainImg {
                display: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        .mainImg {
            z-index: 1;
        }

        span {
            position: absolute;
            top: 50px;
            left: 5px;
            background-color: white;
            color: #BCA37F;
            font-weight: 500;
            font-size: 12px;
            padding: 5px;
            z-index: 5;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    .prices {
        display: flex;
        justify-content: center;
        gap: 20px;

        h3 {
            font-size: 18px;
            font-weight: 500;

            &:first-child {
                color: gray;
                text-decoration: line-through;
            }
        }
    }
}